*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Poppins, Arial;
}

body{
  background:#6e948e;
}

/* HEADER */
header{
  background:#747e97;
  color:white;
  padding:14px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
  z-index:20;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:18px;
  transition:0.3s;
}

nav a:hover{
  color:#38bdf8;
}


/* HERO */
.hero{
  height:60vh;
  background:url('.//image/cover.jpeg')
  center/cover no-repeat;
  position:relative;
}

.hero .overlay{
  width:100%;
  height:100%;
  background:linear-gradient(#020617d3,#020617ce);
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  animation:fade 1.2s;
}

.btn{
  background:#22c55e;
  color:white;
  padding:10px 24px;
  border-radius:8px;
  text-decoration:none;
  margin-top:12px;
  display:inline-block;
  transition:.3s;
}

.btn:hover{
  transform:scale(1.05);
}


/* GENERAL */
.container{
  max-width:1000px;
  margin:auto;
  padding:60px 20px;
}

.title{
  text-align:center;
  margin-bottom:20px;
}

.text{
  text-align:center;
}


/* NOTICE */
.notice li{
  list-style:none;
  padding:8px 0;
}

.notice a{
  text-decoration:none;
  color:#1e293b;
}


/* PROFESSOR SECTION */
.grid{
  display:grid;
  gap:25px;
  grid-template-columns:repeat(auto-fit, minmax(260px,1fr));
}

/* PROFESSOR CARD */
.teacher{
  background:white;
  border-radius:18px;
  box-shadow:0 20px 35px #00000010;
  padding:18px;
  text-align:center;
  transition:0.4s;
}

.teacher:hover{
  transform:translateY(-6px);
}

/* ---- IMPORTANT PART ---- */
/* Any size image will automatically fit nicely */
.photo{
  width:100%;
  aspect-ratio:1/1;
  border-radius:14px;
  overflow:hidden;
}

.photo img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.profile-btn{
  margin-top:8px;
  display:inline-block;
  color:#3b82f6;
  text-decoration:none;
}


/* CONTACT */
.contact-form input,
.contact-form textarea{
  width:100%;
  padding:10px;
  margin-bottom:10px;
  border-radius:8px;
  border:1px solid #d1d5db;
}


/* FOOTER */
footer{
  background:#0f172a;
  color:white;
  text-align:center;
  padding:16px;
}


/* ANIMATION */
@keyframes fade{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:translateY(0);}
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero{height:50vh;}
}
